{% extends "base.liquid" %}

{% block head %}
  <title> {{model.Username}} - Growler </title>
{% endblock %}

{% block content %}

  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">
        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li><a href="/wall">Growl!!</a></li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="#">
          <img class="uk-border-circle" width="220"
          src="http://diylogodesigns.com/blog/wp-content/uploads/2016/01/creative-owl-bird-logo-design.png">
        </a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li>
                  <a href="#">Hello {{model.Username}}</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li><a href="/{{model.Username}}">Profile</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div></div>
    </div>
  </nav>

  <div class="uk-container uk-margin-large-top">
    <div class="uk-grid-small uk-flex-center" uk-grid>

    <div class="uk-width-auto@m">
      <div class="uk-card uk-card-default uk-card-body">
      <img src="{{model.GravatarUrl}}" alt="" class="gravatar" />
      <p class="gravatar_name">@{{model.Username}}</p>
      {% if model.IsLoggedIn %}
        {% unless model.IsSelf %}
          {% if model.IsFollowing %}
            <a class="uk-button uk-button-primary disabled" href="#" id="unfollow">Following</a>
          {% else %}
            <a class="uk-button uk-button-primary" href="#" id="follow" data-user-id="{{model.UserId}}">Follow</a>
          {% endif %}
        {% endunless %}
      {% endif %}
    </div>
    </div>

      {% if model.is_self %}
        <div class="row">
          {% include '_post.liquid' %}   
        </div>     
      {% endif %} 
               
      <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-body">

        <ul uk-tab>
          <li role="presentation" class="active">
            <a href="#growls" data-toggle="tab">Growls</a>
          </li>
          <li role="presentation">
            <a href="#following" data-toggle="tab">Following <span class="badge" id="followingCount">0</span></a>
          </li>
          <li role="presentation">
            <a href="#followers" data-toggle="tab">Followers <span class="badge" id="followersCount">0</span></a>
          </li>
        </ul>        
        
        <ul class="uk-switcher uk-margin">
          <li id="growls" class="tab-pane fade in active">           
          </li>
          <li id="following" class="tab-pane fade">            
          </li>
          <li id="followers" class="tab-pane fade">            
          </li>
        </ul>

      </div>      
    </div>
  </div>
</div>
  </div>
{% endblock %}

{% block scripts %}
<script src="/static/js/getstream.js"> </script>

<script type="text/javascript">
  window.growler = {
    user : {
      id : "{{model.UserId}}",
      name : "{{model.Username}}",
      feedToken : "{{model.UserFeedToken}}"
    },
    stream : {
      appId : "{{model.AppId}}",
      apiKey : "{{model.ApiKey}}"
    }
  }  
</script>

<script src="/static/js/growl.js"></script>
<script src="/static/js/profile.js"></script>
<script src="/static/js/social.js"></script>
{% endblock %}
