{% extends "base.liquid" %}

{% block head %}
  <title> {{model.Username}}  </title>
{% endblock %}

{% block content %}

  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">
        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li><a href="#">Explore</a></li>
                <li>
                    <a href="#">Parent</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="#">
        </a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li><a href="#">Item</a></li>
            </ul>
        </div></div>
    </div>
  </nav>

  <div class="uk-container">
    <div class="uk-grid uk-flex-center">

      <div class="uk-width-1-3@m">
        <div class="uk-card uk-card-default uk-card-body">
        <p class="username">Hi {{model.Username}}</p>
        <a href="/{{model.Username}}" class="uk-button uk-button-primary">My Profile</a>
        <a href="/logout" class="uk-button uk-button-primary">Logout</a>

        </div>
      </div>

      <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-form-row">  
          <div class="tweet_container">
            <form class="form-tweet" id="tweetForm">

        <fieldset class ="uk-fieldset">
         <div class="uk-margin">
            <textarea class="uk-textarea" id="tweet" rows="5" name="tweet"
              placeholder="Say Something!">
            </textarea>
        </div>
              <button class="uk-button uk-button-primary tweet_button pull-right" type="submit"> Tweet </button>
        </fieldset>

      </form>
          </div>
          <div id="wall" />
        </div>
        </div>
      </div>
  </div>
{% endblock %}


{% block scripts %}
<script src="/static/js/getstream.js"> </script>
<script type="text/javascript">
  window.growler = {
    user : {
      id : "{{model.UserId}}",
      name : "{{model.Username}}",
      feedToken : "{{model.UserFeedToken}}",
      timelineToken : "{{model.TimelineToken}}"
    },
    stream : {
      appId : "{{model.AppId}}",
      apiKey : "{{model.ApiKey}}"
    }
  }  
</script>

<script src="/static/js/tweet.js"></script>
<script src="/static/js/wall.js"></script>
{% endblock %}
